body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 20px 40px 20px 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  background-color: rgb(18, 21, 26);
  color: rgb(255, 255, 255);
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row:before,
.row:after {
  display: inline-block;
}

a:hover,
a:focus {
  color: white;
}

code,
.mono {
  font-family: 'Inconsolata', monospace;
  word-break: break-word;
  font-weight: 500;
}

code {
  color: #e83e8c;
}

* {
  box-sizing: border-box;
}

.text-black {
  color: black;
}

.width-full label {
  width: 100%;
}

.clickable {
  outline: 1px solid transparent;
  cursor: pointer;
}

.clickable:hover {
  outline: 2px solid rgba(255, 255, 255, 0.8);
  transition: outline 150ms ease-out;
}

.card {
  position: relative;
  margin-right: 10px;
  margin-left: 0px;
  flex: 0 0 auto;
  width: 84px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

@media only screen and (min-height: 800px) {
  .card {
    height: 100px;
  }
}

.card > .top {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  font-size: 32px;
  font-weight: 900;
}

.card > .top > .pointValue {
  flex: 1 1 0%;
  line-height: 1;
  font-weight: 900;
}

.card > .top > .bubble {
  flex: 0 0 auto;
  background-color: rgb(30, 136, 229);
  height: 32px;
  width: 32px;
  border-radius: 32px;
}

.card > .bottom {
  flex: 1 1 0%;
  display: flex;
  align-items: flex-end;
  padding: 8px;
}


.card.canBuy .bottom {
  background-color: rgba(255, 255, 255, 0.1);
}

.card > .bottom > .costIndicator {
  margin-right: 4px;
  font-size: 10px;
  height: 14px;
  width: 14px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.card.noble > .top {
  background-color: rgba(255, 255, 255, 0.1);
}

.mini-move-log-card {
  position: relative;
  margin-left: 6px;
  width: 20px;
  height: 1em;
  display: inline-block;
  perspective: 1000px;
}

.mini-move-log-card:hover {
  z-index: 1;
}
.mini-move-log-card:hover .card {
  transform: scale(0.7) translateY(-25%) translateX(-30%);
  box-shadow: 0 0 30px 30px rgba(18, 21, 26, 0.3);
}

.mini-move-log-card .card {
  position: absolute;
  transform: scale(0.2) translateY(-200%) translateX(0);
  transform-origin: center left;
  pointer-events: none;
}

.dots {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  margin-right: 2px;
  margin-left: 2px;
}

.moveLog {
  height: 25ex;
  overflow: auto;
  line-height: 2.5ex;
  background-color:  rgba(255, 255, 255, 0.05);
}

.newMessage {
  margin-top: 10px;
  color: rgb(18, 21, 26);
  width: 80%;
}

.messages {
  height: 7.5em;
  width: 83%;
  overflow-y: auto;
  overflow-x: wrap;
  scrollbar-face-color: white;
  scrollbar-color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

.message {
  display: block;
  clear: both;
  margin-left: 5px;
  margin-right: 5px;
}

.message .fromMe {
  float: right;
}

.messageInstructions {
  font-size: small;
  line-height: 1.2em;
  width: 90%;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: gray;
}
